In [5]:
import pymysql
conn = pymysql.connect(host='127.0.0.1', user='user', password='user1234', db='opencc', charset='utf8')
# db명 잘 설정해주기!
cur = conn.cursor()

In [7]:
#1. 2024년 개포래미안포레스트 실거래가 얼마?
# 실거래가 - 평균으로 제시함
sql = "SELECT AVG(거래금액) FROM y24_0101_0509_서울특별시 WHERE 단지명 LIKE '%개포래미안%'"
cur.execute(sql)
results = cur.fetchall()

results
for i in results:
    print(f'2024년 개포래미안포레스트의 실거래가 평균은 약 {int(i[0])}만 원입니다.')
# print(f'2024년 개포래미안포레스트의 실거래가 평균은 약 {int(results[0][0])}만 원입니다.')

2024년 개포래미안포레스트의 실거래가 평균은 약 232641만 원입니다.

In [8]:
# 2. 2024년 4월 강남구에서 가장 저렴하게 거래된 아파트명이랑 가격 알려줘.
sql = "SELECT 단지명, 거래금액 FROM y24_0101_0509_서울특별시 WHERE 계약년월 = 202404 AND 시군구 LIKE '%강남구%' ORDER BY 거래금액 ASC LIMIT 1"
cur.execute(sql)
results = cur.fetchall()

results
for i in results:
    print(f'{i[0]}, {int(i[1])//10000}억 {int(i[1])%10000}만 원')

요진와이시티미니, 1억 7000만 원

In [10]:
# 3. 2024년 4월 강남 30평대 아파트 실거래가 + 아파트명 알려줘.
sql = "SELECT 단지명, 전용면적, 거래금액 FROM y24_0101_0509_서울특별시 WHERE 계약년월 = 202404 AND 시군구 LIKE '%강남구%' AND 전용면적 BETWEEN 99.173554 AND 132.231405"
cur.execute(sql)
results = cur.fetchall()

results
for i in results:
    print(f'{i[0]}의 전용면적은 {i[1]}m²이고, 거래금액은 {i[2]}만 원입니다.')

개나리SK뷰의 전용면적은 127.27m²이고, 거래금액은 358000만 원입니다.
개포자이르네의 전용면적은 114.08m²이고, 거래금액은 232000만 원입니다.
청담2차이-편한세상(201동,202동,203동)의 전용면적은 113.21m²이고, 거래금액은 240000만 원입니다.
삼성청담공원아파트의 전용면적은 107.22m²이고, 거래금액은 190000만 원입니다.
삼성동센트럴아이파크의 전용면적은 103.32m²이고, 거래금액은 349000만 원입니다.
진흥아파트의 전용면적은 104.31m²이고, 거래금액은 230000만 원입니다.
동부센트레빌의 전용면적은 121.74m²이고, 거래금액은 429000만 원입니다.
개포우성2의 전용면적은 127.78m²이고, 거래금액은 400000만 원입니다.
선경2차(8동-12동)의 전용면적은 127.75m²이고, 거래금액은 401000만 원입니다.
한보미도맨션1의 전용면적은 128.01m²이고, 거래금액은 365000만 원입니다.
현대8차(성수현대:91~95동)의 전용면적은 107.64m²이고, 거래금액은 360000만 원입니다.
신현대12차의 전용면적은 121.18m²이고, 거래금액은 476500만 원입니다.
현대13차(208~211동)의 전용면적은 105.31m²이고, 거래금액은 434000만 원입니다.
현대8차(성수현대:91~95동)의 전용면적은 107.64m²이고, 거래금액은 360000만 원입니다.
현대13차(208~211동)의 전용면적은 105.45m²이고, 거래금액은 425000만 원입니다.
현대13차(208~211동)의 전용면적은 108.47m²이고, 거래금액은 415000만 원입니다.
현대13차(208~211동)의 전용면적은 105.45m²이고, 거래금액은 430000만 원입니다.
래미안강남힐즈의 전용면적은 101.94m²이고, 거래금액은 186000만 원입니다.
샘터마을의 전용면적은 101.97m²이고, 거래금액은 223500만 원입니다.
수서한아름의 전용면적은 129.45m²이고, 거래금액은 213500만 원입니다.
강남데시앙포레의 전용면적은 101.88m²이고, 거래금액은 190900만 원입니다.
도곡렉슬의 전용면적은 119.891m²이고, 거래금액은 276000만 원입니다.
럭키(963)의 전용면적은 124.66m²이고, 거래금액은 225000만 원입니다.
우성4의 전용면적은 126.46m²이고, 거래금액은 323000만 원입니다.
도곡1차아이파크의 전용면적은 130.259m²이고, 거래금액은 268000만 원입니다.
럭키(963)의 전용면적은 124.66m²이고, 거래금액은 229000만 원입니다.
도곡렉슬의 전용면적은 114.993m²이고, 거래금액은 343000만 원입니다.
한신엠비씨의 전용면적은 116.24m²이고, 거래금액은 210000만 원입니다.
도곡렉슬의 전용면적은 119.891m²이고, 거래금액은 325000만 원입니다.
삼익의 전용면적은 104.01m²이고, 거래금액은 181000만 원입니다.

In [11]:
# 4. 강남구 2024년 4월 제일 비싼 매물 5개 실거래가 알려줘.
sql = "SELECT 단지명, 거래금액 FROM y24_0101_0509_서울특별시 WHERE 계약년월 = 202404 AND 시군구 LIKE '%강남구%' ORDER BY 거래금액 DESC LIMIT 5"
cur.execute(sql)
results = cur.fetchall()

# results
for i in results:
    print(f'{i[0]}, {int(i[1])//10000}억 {int(i[1])%10000}만원')

현대7차(73~77,82,85동), 115억 0만원
아이파크, 90억 0만원
현대1차(12,13,21,22,31,32,33동), 89억 0만원
현대2차(10,11,20,23,24,25동), 80억 0만원
신현대12차, 74억 4000만원

In [12]:
# 5. 강남구 2024년 4월 제일 저렴한 매물 5개 실거래가 알려줘.
sql = "SELECT 단지명, 거래금액 FROM y24_0101_0509_서울특별시 WHERE 계약년월 = 202404 AND 시군구 LIKE '%강남구%' ORDER BY 거래금액 ASC LIMIT 5"
cur.execute(sql)
results = cur.fetchall()

# results
for i in results:
    print(f'{i[0]}, {int(i[1])//10000}억 {int(i[1])%10000}만원')

한양수자인어반게이트, 2억 1000만원
대우디오빌, 3억 0만원
마일스디오빌, 3억 7500만원
현대비젼21, 4억 4500만원
거평프리젠, 4억 5900만원

In [17]:
# 6. 2024년 4월 강남구 30평대 제일 저렴한 매물 알려줘 (평형별 제일 저렴한 아파트는?)
sql = "SELECT 단지명, 거래금액, 전용면적 FROM y24_0101_0509_서울특별시 WHERE 시군구 LIKE '%강남구%' AND 전용면적 BETWEEN 99.173554 AND 132.231405 ORDER BY 거래금액 ASC LIMIT 1"
cur.execute(sql)
results = cur.fetchall()

for i in results:
    print(f'2024년 4월 강남구 30평대 제일 저렴한 매물의 단지명은 {i[0]}이며, {i[1]}만 원에 거래되었고, 전용면적은 {i[2]}m²입니다.')

2024년 4월 강남구 30평대 제일 저렴한 매물의 단지명은 메트로이며, 100000만 원에 거래되었고, 전용면적은 99.26m²입니다.

In [20]:
# 7. 건축년도 2010년대 초반의 30평대 매물 중 최저가와 최고가 매물은? (년식과 평형이 같은 아파트 중 최저가와 최고가 매물은?)
# 2010년대 초반 데이터: 2010-2013 데이터로 정의
sql = "SELECT MIN(거래금액), MIN(단지명), MAX(거래금액), MAX(단지명) FROM y24_0101_0509_서울특별시 WHERE 건축년도 BETWEEN 2010 AND 2013"
cur.execute(sql)
results = cur.fetchall()

for i in results:
    print(f'건축년도 2010년대 초반의 30평대 매물 중 최저가는 {i[0]}만 원, {i[1]}이고, 최고가는 {i[2]}만 원, {i[3]}입니다.')

건축년도 2010년대 초반의 30평대 매물 중 최저가는 7500만 원, DMC래미안e편한세상이고, 최고가는 1200000만 원, 힐스테이트 상도 프레스티지입니다.

In [24]:
# 8. 24년 도곡동 거래 매물 중 최다 거래 평형은?
sql = "SELECT CEIL(전용면적), COUNT(*) AS frequency FROM y24_0101_0509_서울특별시 WHERE 시군구 LIKE '%도곡동%' GROUP BY CEIL(전용면적) ORDER BY frequency DESC LIMIT 1"
cur.execute(sql)
results = cur.fetchall()

for i in results:
    print(f'전용면적은 {i[0]}m²이고, {i[1]}회로 가장 많이 거래되었습니다.')

전용면적은 85.0m²이고, 21회로 가장 많이 거래되었습니다.

In [27]:
# 9. 24년 도곡동 거래 매물 중 최소 거래 평형은?
sql = "SELECT CEIL(전용면적), COUNT(*) AS frequency FROM y24_0101_0509_서울특별시 WHERE 시군구 LIKE '%도곡동%' GROUP BY CEIL(전용면적) ORDER BY frequency ASC LIMIT 1"
cur.execute(sql)
results = cur.fetchall()

for i in results:
    print(f'전용면적은 {i[0]}m²이고, {i[1]}회로 가장 적게 거래되었습니다.')

전용면적은 149.0m²이고, 1회로 가장 적게 거래되었습니다.

In [33]:
# 10. 2024년 서울 중개거래와 직거래 비율 알려줘.
sql = "SELECT (COUNT(CASE WHEN 거래유형 = '중개거래' THEN 1 END) * 100) / COUNT(*) FROM y24_0101_0509_서울특별시"
# WHEN 거래유형 = '중개거래' THEN 1: 거래유형이 '중개거래'에 해당할 때 1을 반환해라
# 그 외에는 NULL 값 반환.
# COUNT()는 NULL 아닌 값만 반환하므로 거래유형이 '중개거래'인 행만 COUNT 됨.

# END: CASE문의 끝을 나타냄.
    
cur.execute(sql)
results = cur.fetchall()

# print(f'2024년 서울특별시 중개거래 비율은 {results[0][0]:.2f}%이고, 직거래 비율은 {100-results[0][0]:.2f}%입니다.')
for i in results:
    print(f'2024년 서울특별시 중개거래와 직거래 비율은 각각 {i[0]:.2f}%와 {(100-i[0]):.2f}%입니다.')

2024년 서울특별시 중개거래와 직거래 비율은 각각 96.17%와 3.83%입니다.

칼럼명 한국어 테이블 ↓

In [35]:
# # 데이터 프레임의 데이터를 데이터베이스에 삽입
for index, row in df.iterrows():
    cur.execute(f"""
        INSERT INTO y21_강원특별자치도 (""" + """
            si_gun_gu,
            street_address,
            main_number,
            sub_number,
            complex_name,
            exclusive_area,
            contract_year_month,
            contract_day,
            transaction_amount,
            dong,
            floor,
            buyer,
            seller,
            construction_year,
            road_name,
            cancellation_reason_date,
            transaction_type,
            intermediary_location,
            registration_date
        ) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    """, (
        row['시군구'],
        row['번지'],
        row['본번'],
        row['부번'],
        row['단지명'],
        row['전용면적(㎡)'],
        row['계약년월'],
        row['계약일'],
        row['거래금액(만원)'],
        row['동'],
        row['층'],
        row['매수자'],
        row['매도자'],
        row['건축년도'],
        row['도로명'],
        row['해제사유발생일'],
        row['거래유형'],
        row['중개사소재지'],
        row['등기일자']
    ))